/* SECCION DE FORMULARIO DE CONTACTO */
.Formulario-Contacto{
    width: 100%;
    height: 100vh;
    padding: 90px;
}

.box-form{
    width: 90%;
    padding: 100px 50px;
    border-radius: 10px;
    border: 1px solid #dddfe5;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.list-item{
    margin: 20px;
}

.contact-icon{
    background-color: #FFF;
    color: black;
    text-align: center;
}

.contact-icon:hover{
    color: #FF639F;
}

/* C I R C U L O   I C O N O */
.circle-contact{
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: white;
    color: #FF639F;
}

.circle-contact:hover{
    background-color: #FF639F;
    color: white;
}


/* F O R M U L A R I O */
label{
    color: #2e2e31;
    font-weight: 600;
    display: block;
}

.dato-form{
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #f1d4e1;
    background-color: #fff1f7;
}
.dato-form:active{
    border-style: none;
    box-shadow: 0px 0px 11px 3px #FF639F;
}

.nombre-apellido{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email{
    display: flex;
    flex-direction: column;
}

.mensaje{
    display: flex;
    flex-direction: column;
}