@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 20px;
}

p{
    font-size: 16px;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: #2e2e31;
}

ul{
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

section{
    padding: 90px;
    background-color: #F6F7FB;
}

footer{
    width: 100%;
    padding: 90px;
    background-color: #FF639F;
    color: #FFFFFF;
}

button{
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTENEDOR GENERAL DE LA PAGINA */
.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}


/* A R E A S */
.ladoIzquierdo{
    width: 50%;
    height: 100%;
    /*border: 1px solid black;*/
}

.ladoDerecho{
    width: 50%;
    height: 100%;
    /*border: 1px solid black;*/
}




/* BOTONES */
.btn{
    border-radius: 100px;
    padding: 10px 20px;
    color: black;
}
.btn:hover{
    color: #FF639F;
}
.btn:active{
    border: 2px solid #FF639F;
}


.btn-rosa{
    color: white;
    background-color: #FF639F;
}
.btn-rosa:hover{
    color: white;
    padding: 12px 22px;
    background: rgb(235,40,114);
    background: linear-gradient(0deg, rgba(235,40,114,1) 0%, rgba(255,115,180,1) 50%, rgba(249,60,60,1) 100%);
    border: 2px solid #000000;
}


/* F L E X */
.f-row-center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f-column-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.f-row-between-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.f-column-between-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.f-column-end-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.f-column-end-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.f-column-around-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* E S T I L O S    D E    L E T R A S */
.title{
    font-weight: 900;
    margin-bottom: 5px;
}

.normal-title{
    font-size: 45px;
    margin-bottom: 30px;
}

.title-project{
    font-size: 16px;
    font-weight: 600;
}

.l-20{
    font-size: 20px;
}

.l-30{
    font-size: 30px;
    font-weight: 900;
}


/* C O L O R E S   D E   L E T R A S */
.letra-rosa{
    color: #FF639F;
}

.letra-gris-claro{
    color: #616161;
}

.letra-gris-oscuro{
    color: #2E2E31;
}


/* A L I N E A C I O N   D E L   T E X T O */
.t-center{
    width: 400px;
    text-align: center;
}

.t-center-total{
    width: 100%;
    text-align: center;
}

.t-left{
    width: 400px;
    text-align: left;
}



/* M A R G E N E S   G E N E R A L E S */
.m-50{
    margin: 50px
}

.mt-40{
    margin-top: 40px;
}

.mb-40{
    margin-bottom: 40px;
}



/* I C O N O */
.icono{
    font-size: 90px;
}

.icono-redes{
    font-size: 20px;
    color: #FF639F;
}



/* C O L O R E S   I C O N O S */
.html-color{
    color: #E54D26;
}

.css-color{
    color: #3D8FC6;
}

.sass-color{
    color: #CB6699;
}

.js-color{
    color: #F0DB4F;
}

.react-color{
    color: #61DAFB;
}

.git-color{
    color: #F34F29;
}

.blanco{
    color: white;
}